.bg-image{
  background-image: url('https://t3.ftcdn.net/jpg/08/86/15/02/360_F_886150259_gkxZTj2hNnsusNAAb6WEcEM6nWT0So9f.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
