
<div class="row mt-3">
  <div class="col-11 mx-auto p-0">
    <div class="p-0 d-flex justify-content-between">
      <div class="fs-4 fw-bold p-0">
        Questions
      </div>
      <div class="">
        <button class="btn tick-button fw-bold text-white"  data-bs-toggle="modal" data-bs-target="#add-questions">Add Questions</button>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
    <div class="col-11 mx-auto">
      <div class="row mt-3">
        <div class="col-4 p-0">
          <div class="">Category</div>
          <ng-select [items]="category" bindLabel="name" bindValue="id" [(ngModel)]="selectedCatId" [clearable]="false" (ngModelChange)="filterQuestion()"> </ng-select>
        </div>
        <!-- <div class="col-4">
          <div>Search</div>
          <input type="text" class="form-control" placeholder="Search"  [(ngModel)]="searchText" (keyup)="searchQuestions(searchText)">
        </div> -->
      </div>
    </div>
</div>

<div class="row mt-3">
  <div class="col-11 mx-auto body-card">
    <div class="row tick-shadow p-4 rounded mt-3 bg-white" *ngFor="let q of questions | paginate: { itemsPerPage:itemsPerPage , currentPage: currentPage,totalItems: totalCount }; let i = index">
      <div class="col-6">{{q.name}}</div>
      <div class="col-6">
        <div class="d-flex justify-content-end">
          <div class="d-flex">
            <div class="d-flex">
              <div class="me-3 pointer"><i class="fas fa-pencil-alt tick-color" ></i></div>
              <div class="pointer"><i class="far fa-trash-alt text-danger" aria-hidden="true"></i></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-11 mx-auto">
    <div class="row">
      <div class="col-1 p-0">
        <label>Page size</label>
        <input type="number" class="form-control" [(ngModel)]="itemsPerPage"  min="1" (ngModelChange)="changePerPageValue()">
      </div>
      <div class="col-11 float-right d-flex justify-content-end">
        <pagination-controls
        (pageChange)="onPageChange($event)"
        [previousLabel]="'Prev'" ></pagination-controls>
      </div>
    </div>
  </div>

</div>


<!-- Modal -->
<div class="modal fade" id="add-questions" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">{{isUpdate ? 'Edit' : 'Add'}} Question</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-ques" (click)="questionForms.reset();isSubmitted = false"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="questionForms">
          <div class="row">
            <div class="col-12">
              <label for="student-id" class="form-label">Category</label>
              <ng-select [items]="category" bindLabel="name" bindValue="id" [(ngModel)]="selectedCatId" (ngModelChange)="changeCategory($event)" [clearable]="false" [ngModelOptions]="{standalone: true}"> </ng-select>
          </div>
            <div class="col-12">
                <label for="student-id" class="form-label">Question</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" formControlName="name" rows="3" [ngClass]="{'errorBorder':isSubmitted && questionForms.get('name')?.errors}"></textarea>
            </div>

            <div class="col-12">
              <div class="row">
                <div class="col-10">
                  <label for="student-id" class="form-label">Option 1</label>
                  <input type="text" class="form-control" id="desc" formControlName="option1" [ngClass]="{'errorBorder':isSubmitted && questionForms.get('option1')?.errors}">
                </div>
                <div class="col-2 text-center d-flex justify-content-center align-items-center">
                  <div class="mt-4">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" (click)="correctAnswer(1)">
                    <label class="form-check-label ms-2" for="flexRadioDefault1">Is Correct</label>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-12 mt-3">
              <div class="row">
                <div class="col-10">
                  <label for="student-id" class="form-label">Option 2</label>
                  <input type="text" class="form-control" id="desc" formControlName="option2" [ngClass]="{'errorBorder':isSubmitted && questionForms.get('option2')?.errors}" >
                </div>
                <div class="col-2 text-center d-flex justify-content-center align-items-center">
                  <div class="mt-4">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" (click)="correctAnswer(2)">
                    <label class="form-check-label ms-2" for="flexRadioDefault2">Is Correct</label>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-12  mt-3">
              <div class="row">
                <div class="col-10">
                  <label for="student-id" class="form-label">Option 3</label>
                <input type="text" class="form-control" id="desc" formControlName="option3" [ngClass]="{'errorBorder':isSubmitted && questionForms.get('option3')?.errors}">
                </div>
                <div class="col-2 text-center d-flex justify-content-center align-items-center">
                  <div class="mt-4">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" (click)="correctAnswer(3)">
                    <label class="form-check-label ms-2" for="flexRadioDefault3">Is Correct</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12  mt-3">
              <div class="row">
                <div class="col-10">
                  <label for="student-id" class="form-label">Option 4</label>
                  <input type="text" class="form-control" id="desc" formControlName="option4" [ngClass]="{'errorBorder':isSubmitted && questionForms.get('option4')?.errors}">
                </div>
                <div class="col-2 text-center d-flex justify-content-center align-items-center">
                <div class="mt-4">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" (click)="correctAnswer(4)">
                  <label class="form-check-label ms-2" for="flexRadioDefault4">Is Correct</label>
                </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="d-flex text-center mt-3">
          <button type="button" class="btn tick-button me-3 w-50" data-bs-dismiss="modal" data-bs-dismiss="modal" (click)="questionForms.reset(); isSubmitted = false">Cancel</button>
          <button type="button" class="btn tick-button w-50" (click)="isUpdate ? _updateQuestions() : submit()" [disabled]="loadingIndicator"><span class="spinner-border spinner-border-sm" *ngIf="loadingIndicator"></span> Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
