
<div class="row m-0">
  <app-topbar *ngIf="isLogIn" class="p-0 top-bar fixed-top"></app-topbar>
  <div class="col-2 p-0 rounded-0 side-bar border-end bg-dark fixed-left" *ngIf="isLogIn">
    <app-sidebar></app-sidebar>
  </div>
  <div [ngClass]="isLogIn ? 'col-10 main-div ' : 'col-12'">
    <router-outlet></router-outlet>
  </div>
</div>



<div class="modal fade" id="logout-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered" style="z-index: 9999;">
  <div class="modal-content">
    <div class="modal-body">
      <div class="text-center">
        <img src="https://cdni.iconscout.com/illustration/premium/thumb/logout-account-illustration-download-in-svg-png-gif-file-formats--exit-here-login-log-out-seo-website-development-pack-web-illustrations-4707120.png" alt="" width="300px">
        <div class="text-center fw-bold fs-5 mt-3">
          Are you sure you want to logout?
        </div>
      </div>
      <div class="d-flex text-center mt-3">
        <button type="button" class="btn tick-button me-3 w-50" data-bs-dismiss="modal" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn tick-button w-50" data-bs-dismiss="modal" (click)="logout()" [routerLink]="['/login']">Yes</button>
      </div>
    </div>
  </div>
  </div>
  </div>

