

<div class="row mt-3">
  <div class="col-11 mx-auto">
    <div class="p-0 d-flex justify-content-between">
      <div class="fs-4 fw-bold p-0">
        Students
      </div>
      <div class="">
        <button class="btn tick-button fw-bold text-white" data-bs-toggle="modal" data-bs-target="#add-student" (click)="isUpdate = false;">Add Student</button>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-4 p-0">
        <div class="">Batch</div>
        <ng-select [items]="batches" bindLabel="name" bindValue="id" [(ngModel)]="selectedBatchId" (ngModelChange)="filterQuestion()"[clearable]="false"> </ng-select>
      </div>
      <div class="col-4">
        <div>Search</div>
        <input type="text" class="form-control" placeholder="Search"  [(ngModel)]="searchText" (keyup)="searchQuestions(searchText)">
      </div>
    </div>

      <div class="row tick-shadow p-4 rounded mt-3 bg-dark border text-white">
        <div class="col-2 fw-bold">Profile</div>
        <div class="col-2 fw-bold">Name</div>
        <div class="col-2 fw-bold">Gender</div>
        <div class="col-1 fw-bold">Batch</div>
        <div class="col-3 fw-bold">Address</div>
        <div class="col-1 fw-bold">Join date</div>
        <div class="col-1 fw-bold">Actions</div>
      </div>
      <div class="row tick-shadow p-2 rounded mt-3 bg-white" *ngFor="let student of students | paginate: { itemsPerPage:itemsPerPage , currentPage: currentPage,totalItems: totalCount }; let i = index">
         <div class="col-2"> <img src="https://st2.depositphotos.com/3369547/11114/v/450/depositphotos_111147738-stock-illustration-e-learning-design-education-icon.jpg" class="image" alt="" height="100px"></div>
       <div class="col-2 d-flex align-items-center">{{student.firstName + ' ' + student.lastName}}</div>
        <div class="col-2 d-flex align-items-center">{{student.admissionNo}}</div>
        <div class="col-1 d-flex align-items-center">{{student.gender === 1 ? 'Male' : student.gender === 2 ? 'Female' : 'other' }}</div>
        <div class="col-3 d-flex align-items-center text-truncate">{{student.fullAddress}}</div>
        <div class="col-1 d-flex align-items-center"> {{student.joinedDate | date:'dd-MM-yyyy'}}</div>

        <div class="col-1 d-flex align-items-center fw-bold"> <div class="d-flex justify-content-end">
          <div class="me-3 pointer"><i class="fas fa-pencil-alt tick-color"  data-bs-toggle="modal" data-bs-target="#add-student" (click)="setEditStudentData(student)" ></i></div>
          <div class="pointer" data-bs-toggle="modal" data-bs-target="#delete-student" (click)="editStuId = student.id"><i class="far fa-trash-alt text-danger" aria-hidden="true"></i></div>
        </div></div>

        <!-- </div> -->
      </div>

      <!-- <div class="col-4 mt-3" *ngFor="let student of students | paginate: { itemsPerPage:itemsPerPage , currentPage: currentPage,totalItems: totalCount }; let i = index">
        <div class="tick-shadow rounded p-2" >
          <div class="text-center border">
            <img src="https://st2.depositphotos.com/3369547/11114/v/450/depositphotos_111147738-stock-illustration-e-learning-design-education-icon.jpg" class="image" alt="" width="300px" height="200px">
          </div>
          <div class="d-flex justify-content-between">
            <div class="fw-bold fs-5 mt-3 ps-1">{{student.firstName + ' ' + student.lastName}}</div>

            <div class="fw-bold mt-3 fs-5 ps-1 text-danger"><b>A-NO: </b> {{student.admissionNo}}</div>
          </div>
          <div class="mt-3"><b>Gender: </b>{{student.gender === 1 ? 'Male' : student.gender === 2 ? 'Female' : 'other' }}</div>
          <div class="mt-1 text-truncate"><b>Address: </b>{{student.fullAddress}}</div>
          <div><b>oin Date: </b>J {{student.joinedDate | date:'dd-MM-yyyy'}}</div>
          <div><b>Batch: </b> Batch: {{'2024'}}</div>
          <div class="d-flex justify-content-end">
            <div class="me-3 pointer"><i class="fas fa-pencil-alt tick-color"  data-bs-toggle="modal" data-bs-target="#add-student" (click)="setEditStudentData(student)" ></i></div>
            <div class="pointer" data-bs-toggle="modal" data-bs-target="#delete-student" (click)="editStuId = student.id"><i class="far fa-trash-alt text-danger" aria-hidden="true"></i></div>
          </div>
        </div>
      </div> -->



<div class="row mt-5">
  <div class="col-11 mx-auto">
    <div class="row">
      <div class="col-1 p-0">
        <label>Page size</label>
        <input type="number" class="form-control" [(ngModel)]="itemsPerPage"  min="1" (ngModelChange)="changePerPageValue()">
      </div>
      <div class="col-11 float-right d-flex justify-content-end">
        <pagination-controls
        (pageChange)="onPageChange($event)"
        [previousLabel]="'Prev'" ></pagination-controls>
      </div>
    </div>
  </div>

</div>
  </div>
</div>
<app-app-loading *ngIf="loadingIndicator"></app-app-loading>


<!-- Modal -->
<div class="modal fade" id="add-student" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">{{isUpdate ? 'Edit' : 'Add'}} user</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-student" (click)="studentForm.reset();isSubmitted = false"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="studentForm">
          <div class="row">
            <!-- Batch ID -->
             <div class="fw-bold fs-5">Personal details</div>
            <div class="col-12 mt-3">
              <label for="batch-id" class="form-label fw-bold">Batch ID</label>
              <!-- <input type="text" class="form-control" id="batch-id" formControlName="batchId" [ngClass]="{'errorBorder':isSubmitted && studentForm.get('batchId')?.errors}"> -->
              <ng-select [items]="batches" bindLabel="name" bindValue="id" formControlName="batchId"  [clearable]="false" [ngClass]="{'errorBorder':isSubmitted && studentForm.get('batchId')?.errors}" > </ng-select>
            </div>

            <!-- Admission No -->
            <div class="col-12 mt-2">
              <label for="admission-no" class="form-label fw-bold">Admission No</label>
              <input type="text" class="form-control" id="admission-no" formControlName="admissionNo" [ngClass]="{'errorBorder':isSubmitted && studentForm.get('admissionNo')?.errors}">
            </div>

            <!-- First Name -->
            <div class="col-12 mt-2">
              <label for="f-name" class="form-label fw-bold">First Name</label>
              <input type="text" class="form-control" id="f-name" formControlName="firstName" [ngClass]="{'errorBorder':isSubmitted && studentForm.get('firstName')?.errors}">
            </div>

            <!-- Last Name -->
            <div class="col-12 mt-2">
              <label for="l-name" class="form-label fw-bold">Last Name</label>
              <input type="text" class="form-control" id="l-name" formControlName="lastName" [ngClass]="{'errorBorder':isSubmitted && studentForm.get('lastName')?.errors}">
            </div>

            <!-- Password -->
            <div class="col-12 mt-2" *ngIf="!isUpdate">
              <label for="password" class="form-label fw-bold">Password</label>
              <input type="password" class="form-control" id="password" formControlName="password" [ngClass]="{'errorBorder':isSubmitted && studentForm.get('password')?.errors}">
            </div>

            <!-- Email -->
            <div class="col-12 mt-2">
              <label for="email" class="form-label fw-bold">Email</label>
              <input type="email" class="form-control" id="email" formControlName="eMail" [ngClass]="{'errorBorder':isSubmitted && studentForm.get('eMail')?.errors}">
            </div>

            <!-- Phone Number -->
            <div class="col-12 mt-2">
              <label for="phone-no" class="form-label fw-bold">Phone Number</label>
              <input type="text" class="form-control" id="phone-no" formControlName="phoneNo" [ngClass]="{'errorBorder':isSubmitted && studentForm.get('phoneNo')?.errors}">
            </div>

            <!-- Joined Date -->
            <div class="col-12 mt-2">
              <label for="joined-date" class="form-label fw-bold">Joined Date</label>
              <input type="date" class="form-control" id="joined-date" formControlName="joinedDate" [ngClass]="{'errorBorder':isSubmitted && studentForm.get('joinedDate')?.errors}">
            </div>

            <!-- Image URL -->
            <div class="col-12 mt-2">
              <label for="image-url" class="form-label fw-bold">Image URL</label>
              <input type="text" class="form-control" id="image-url" formControlName="imagUrl" [ngClass]="{'errorBorder':isSubmitted && studentForm.get('imagUrl')?.errors}">
            </div>

            <!-- Gender -->
            <div class="col-12 mt-2">
              <label for="gender" class="form-label fw-bold">Gender</label>
              <ng-select [items]="gender" bindLabel="name" bindValue="id" formControlName="gender"  [clearable]="false" [ngClass]="{'errorBorder':isSubmitted && studentForm.get('gender')?.errors}" > </ng-select>
            </div>

            <!-- Civil Status -->
            <div class="col-12 mt-2">
              <label for="civil-status" class="form-label fw-bold">Civil Status</label>
              <ng-select [items]="civilStatus" bindLabel="name" bindValue="id" formControlName="civilStatus"  [clearable]="false" [ngClass]="{'errorBorder':isSubmitted && studentForm.get('civilStatus')?.errors}" > </ng-select>
            </div>
            <div class="fw-bold fs-5 mt-3">Address</div>
            <div class="col-12 mt-3">
              <label for="line1" class="form-label fw-bold">Line 1</label>
              <input type="text" class="form-control" id="line1" formControlName="line1" [ngClass]="{'errorBorder': isSubmitted && studentForm.get('line1')?.errors}">
            </div>
            <div class="col-12 mt-2">
              <label for="line2" class="form-label fw-bold">Line 2</label>
              <input type="text" class="form-control" id="line2" formControlName="line2" [ngClass]="{'errorBorder': isSubmitted && studentForm.get('line2')?.errors}">

            </div>
            <div class="col-12 mt-2">
              <label for="city" class="form-label fw-bold">City</label>
              <input type="text" class="form-control" id="city" formControlName="city" [ngClass]="{'errorBorder': isSubmitted && studentForm.get('city')?.errors}">
            </div>
            <div class="col-12 mt-2">
              <label for="province" class="form-label fw-bold">Province</label>
              <input type="text" class="form-control" id="province" formControlName="province" [ngClass]="{'errorBorder': isSubmitted && studentForm.get('province')?.errors}">
            </div>
            <div class="col-12 mt-2">
              <label for="country" class="form-label fw-bold">Country</label>
              <input type="text" class="form-control" id="country" formControlName="country" [ngClass]="{'errorBorder': isSubmitted && studentForm.get('country')?.errors}">
            </div>

          </div>
        </form>

        <div class="d-flex text-center mt-3">
          <div class="col-6 ms-auto" ></div>
          <button type="button" class="btn tick-button w-50 me-3" [disabled]="loadingIndicator" data-bs-dismiss="modal" aria-label="Close"> Cancel</button>

          <button type="button" class="btn tick-button w-50" (click)="submit()" [disabled]="loadingIndicator"><span class="spinner-border spinner-border-sm" *ngIf="loadingIndicator"></span> Submit</button>
        </div>
        <app-app-loading *ngIf="loadingIndicator"></app-app-loading>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="delete-student" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-delete" (click)="editStuId = ''"></button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <img src="https://freesvgillustration.com/wp-content/uploads/2022/03/Delete-Confirmation-1.png" alt="" width="350px">
          <div class="fs-4">
            Are you sure want to delete this Student ?
          </div>
        </div>
        <div class="d-flex text-center mt-3">
          <button type="button" class="btn tick-button me-3 w-50" data-bs-dismiss="modal" data-bs-dismiss="modal" (click)="editStuId = ''">No</button>
          <button type="button" class="btn tick-button w-50" (click)="_deleteStudent()" [disabled]="loadingIndicator"><span class="spinner-border spinner-border-sm" *ngIf="loadingIndicator"></span> Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>


