/* You can add global styles to this file, and also import other style files */
.tick-button{
  background: #477c80 !important;
  border: solid 3px #34bac4 !important;
  border-radius: 10px !important;
  color: white !important;
  font-weight: 600 !important;
}

.tick-color{
  color: #3ec7d1;
}

.tick-bg{
  background: linear-gradient(to bottom, #3ec7d1, #d7d7d7) !important;
}

.tick-shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px !important;
}

.errorBorder{
  border:solid 1px red !important;
}

.pointer{
  cursor: pointer;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.body-card{
  border: 1px solid #c39c9c !important;
  background-color: #e7e7e7;
  border-radius: 11px;
  padding: 35px !important;
}

/* Hide the increment and decrement buttons on number input */
.no-arrows::-webkit-outer-spin-button,
.no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-arrows {
  -moz-appearance: textfield; /* Firefox */
}

.text-sm{
  font-size: 14px;
}

.form-check-input {
  width: 1.5rem !important;
  height: 1.5rem !important;
  border: solid 1px #3ec7d1 !important;
}

.form-control {

  //border: solid 1px #83ccd2 !important;
  height: 42px !important;
}

.div-disabled{
  pointer-events: none !important;
  opacity: 50% !important;
}
